<app-header></app-header>

<div class="map-page">

  <div class="map-content">

    <!-- SWITCH ÉTAGE -->
    <div class="floor-switch">
      <button
        [disabled]="currentFloor===0"
        [class.active]="currentFloor===0"
        (click)="currentFloor = 0">
        RDC
      </button>

      <button
        [disabled]="currentFloor===1"
        [class.active]="currentFloor===1"
        (click)="currentFloor = 1">
        Étage 1
      </button>
    </div>

    <!-- MAP -->
    <div class="map-container">
      @if (currentFloor === 0) {
        <app-floor-rdc (zoneClick)="onZoneClick($event)"></app-floor-rdc>
      }

      @if (currentFloor === 1) {
        <app-floor-etage1 (zoneClick)="onZoneClick($event)"></app-floor-etage1>
      }
    </div>

    <!-- INFO BOUTIQUE -->
    @if (activeStore; as store) {
      <div class="info">
        <h3>{{ store.nom }}</h3>
        <p>Catégorie : {{ store.categorie }}</p>
        <p>Étage : {{ store.etage === 0 ? 'RDC' : 'Étage 1' }}</p>
        <p>Contact : {{ store.contact.email }} | {{ store.contact.tel }}</p>
        <p>Statut : {{ store.ouvertMaintenant }}</p>
      </div>
    } @else {
      <p class="info empty">Clique sur une boutique</p>
    }

    <!-- ACTION -->
    <div class="actions">
      <button class="route-btn" (click)="openRouteModal()">
        Itinéraire
      </button>
    </div>

  </div>
</div>

<!-- MODAL -->
@if (showRouteModal) {
  <div class="modal-backdrop" (click)="closeRouteModal()"></div>

  <div class="modal">
    <h3>Calculer un itinéraire</h3>

    <label>Point de départ</label>
    <select [(ngModel)]="routeStart">
      @for (store of boutiques; track store._id) {
        <option [value]="store._id">{{ store.nom }}</option>
      }
    </select>

    <label>Point d'arrivée</label>
    <select [(ngModel)]="routeEnd">
      @for (store of boutiques; track store._id) {
        <option [value]="store._id">{{ store.nom }}</option>
      }
    </select>

    <div class="modal-actions">
      <button (click)="calculateRoute()">Afficher</button>
      <button class="secondary" (click)="closeRouteModal()">Annuler</button>
    </div>
  </div>
}

<app-footer></app-footer>